In [2]:
import pandas as pd
df = pd.read_csv('cryspy_rslt_energy_asc',names=['cryspy_id', 'Gen', 'Spg_num','Spg_sym','Spg_num_opt',
                                                 'Spg_sym_opt', 'E_eV_atom', 'Magmom', 'Opt'], header=None, delim_whitespace=True,skiprows=[0])
# min_enthalpy = min(df['enthalpy']);

In [6]:
df

,cryspy_id,Gen,Spg_num,Spg_sym,Spg_num_opt,Spg_sym_opt,E_eV_atom,Magmom,Opt
0,299,6,26,Pmc2_1,1,P1,-0.329042,NaN,not_yet
1,481,10,1,P1,2,P-1,-0.284395,NaN,not_yet
2,580,12,2,P-1,2,P-1,-0.283273,NaN,not_yet
3,538,11,1,P1,2,P-1,-0.283151,NaN,not_yet
4,634,13,2,P-1,2,P-1,-0.282361,NaN,not_yet
...,...,...,...,...,...,...,...,...,...
745,595,12,203,Fd-3,227,Fd-3m,1.410374,NaN,not_yet
746,340,7,227,Fd-3m,227,Fd-3m,1.410376,NaN,not_yet
747,0,1,224,Pn-3m,224,Pn-3m,1.412310,NaN,not_yet
748,600,13,1,P1,1,P1,3.492614,NaN,not_yet
749,599,12,79,I4,0,None,NaN,NaN,not_yet

In [8]:
df.sort_values('E_eV_atom').head(50)

,cryspy_id,Gen,Spg_num,Spg_sym,Spg_num_opt,Spg_sym_opt,E_eV_atom,Magmom,Opt
0,299,6,26,Pmc2_1,1,P1,-0.329042,NaN,not_yet
1,481,10,1,P1,2,P-1,-0.284395,NaN,not_yet
2,580,12,2,P-1,2,P-1,-0.283273,NaN,not_yet
3,538,11,1,P1,2,P-1,-0.283151,NaN,not_yet
4,634,13,2,P-1,2,P-1,-0.282361,NaN,not_yet
5,688,14,2,P-1,2,P-1,-0.281997,NaN,not_yet
6,105,3,1,P1,1,P1,-0.281807,NaN,not_yet
7,635,13,2,P-1,2,P-1,-0.280889,NaN,not_yet
8,85,2,1,P1,1,P1,-0.280692,NaN,not_yet
9,434,9,1,P1,1,P1,-0.274023,NaN,not_yet
10,677,14,1,P1,2,P-1,-0.273906,NaN,not_yet
11,639,13,2,P-1,2,P-1,-0.273893,NaN,not_yet
12,371,8,1,P1,1,P1,-0.273202,NaN,not_yet
13,526,11,1,P1,1,P1,-0.273200,NaN,not_yet
14,437,9,1,P1,1,P1,-0.273175,NaN,not_yet
15,585,12,1,P1,2,P-1,-0.272482,NaN,not_yet
16,642,13,45,Iba2,1,P1,-0.270546,NaN,not_yet
17,682,14,1,P1,12,C2/m,-0.270148,NaN,not_yet
18,732,15,2,P-1,12,C2/m,-0.270130,NaN,not_yet
19,285,6,1,P1,1,P1,-0.268940,NaN,not_yet
20,336,7,1,P1,1,P1,-0.268557,NaN,not_yet
21,716,15,1,P1,1,P1,-0.261709,NaN,not_yet
22,726,15,1,P1,1,P1,-0.260146,NaN,not_yet
23,537,11,1,P1,1,P1,-0.259790,NaN,not_yet
24,525,11,1,P1,1,P1,-0.258879,NaN,not_yet
25,654,14,1,P1,1,P1,-0.258673,NaN,not_yet
26,536,11,1,P1,1,P1,-0.257722,NaN,not_yet
27,331,7,1,P1,1,P1,-0.257709,NaN,not_yet
28,384,8,1,P1,1,P1,-0.257706,NaN,not_yet
29,380,8,1,P1,1,P1,-0.257632,NaN,not_yet
30,483,10,1,P1,1,P1,-0.257611,NaN,not_yet
31,672,14,1,P1,1,P1,-0.256194,NaN,not_yet
32,736,15,1,P1,1,P1,-0.256127,NaN,not_yet
33,167,4,1,P1,1,P1,-0.251583,NaN,not_yet
34,579,12,1,P1,1,P1,-0.249481,NaN,not_yet
35,637,13,1,P1,1,P1,-0.249459,NaN,not_yet
36,382,8,1,P1,1,P1,-0.249088,NaN,not_yet
37,284,6,1,P1,1,P1,-0.248723,NaN,not_yet
38,389,8,1,P1,1,P1,-0.247846,NaN,not_yet
39,356,8,1,P1,1,P1,-0.247787,NaN,not_yet
40,494,10,89,P422,1,P1,-0.246585,NaN,not_yet
41,523,11,1,P1,1,P1,-0.245488,NaN,not_yet
42,369,8,1,P1,1,P1,-0.244646,NaN,not_yet
43,233,5,1,P1,1,P1,-0.244128,NaN,not_yet
44,151,4,1,P1,1,P1,-0.244068,NaN,not_yet
45,282,6,1,P1,1,P1,-0.244056,NaN,not_yet
46,322,7,1,P1,1,P1,-0.243992,NaN,not_yet
47,238,5,1,P1,1,P1,-0.242498,NaN,not_yet
48,541,11,122,I-42d,1,P1,-0.242278,NaN,not_yet
49,454,10,1,P1,1,P1,-0.241644,NaN,not_yet