In [129]:
#https://stackoverflow.com/questions/35830833/concat-a-dataframe-with-a-series-in-pandas  concat a DataFrame with a Series in Pandas
pandas as pd
students = pd.DataFrame([
    ['Alex'],
    ['Lauren'],
])
marks = pd.Series([.8, .75])
pd.concat([students, pd.DataFrame(marks)], axis=1)

        0     0
0    Alex  0.80
1  Lauren  0.75

# Original implementation in CrySPY

In [2]:
import pickle 
import pandas as pd

def load_ea_data():
    with open('./EA_data.pkl', 'rb') as f:
        ea_data = pickle.load(f)
    return ea_data

elite_struc, elite_fitness, ea_info, ea_origin = load_ea_data()
print(ea_info)
tmp_info = pd.Series([9999, 50, 9999, 9999, 9999, 9999, 9999,'equal', 'TNM'], index=ea_info.columns)
ea_info = ea_info.append(tmp_info, ignore_index=True)
print(ea_info)

  Gen Population Crossover Permutation Strain Random Elite crs_lat slct_func
0   1         50         0           0      0     50     0   equal       TNM
1   2         50        20           5     10     15     5   equal       TNM
2   3         50        25           5     10     10     5   equal       TNM
3   4         50        25           5     10     10     5   equal       TNM
4   5         50        25           5     10     10     5   equal       TNM
5   6         50        25           5     10     10     5   equal       TNM
6   7         50        25           5     10     10     5   equal       TNM
    Gen Population Crossover Permutation Strain Random Elite crs_lat slct_func
0     1         50         0           0      0     50     0   equal       TNM
1     2         50        20           5     10     15     5   equal       TNM
2     3         50        25           5     10     10     5   equal       TNM
3     4         50        25           5     10     10     5   equal       TNM
4     5         50        25           5     10     10     5   equal       TNM
5     6         50        25           5     10     10     5   equal       TNM
6     7         50        25           5     10     10     5   equal       TNM
7  9999         50      9999        9999   9999   9999  9999   equal       TNM

/tmp/ipykernel_55523/2456999282.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ea_info = ea_info.append(tmp_info, ignore_index=True)

# New implementation in CrySPY

In [3]:
import pickle 
import pandas as pd

def load_ea_data():
    with open('./EA_data.pkl', 'rb') as f:
        ea_data = pickle.load(f)
    return ea_data

elite_struc, elite_fitness, ea_info, ea_origin = load_ea_data()
print(ea_info)

tmp_info = pd.Series([9999, 50, 9999, 9999, 9999, 9999, 9999,'equal', 'TNM'], index=ea_info.columns)
ea_info = pd.concat([ea_info, pd.DataFrame(tmp_info).T], axis=0, ignore_index=True)
print(ea_info)

  Gen Population Crossover Permutation Strain Random Elite crs_lat slct_func
0   1         50         0           0      0     50     0   equal       TNM
1   2         50        20           5     10     15     5   equal       TNM
2   3         50        25           5     10     10     5   equal       TNM
3   4         50        25           5     10     10     5   equal       TNM
4   5         50        25           5     10     10     5   equal       TNM
5   6         50        25           5     10     10     5   equal       TNM
6   7         50        25           5     10     10     5   equal       TNM
    Gen Population Crossover Permutation Strain Random Elite crs_lat slct_func
0     1         50         0           0      0     50     0   equal       TNM
1     2         50        20           5     10     15     5   equal       TNM
2     3         50        25           5     10     10     5   equal       TNM
3     4         50        25           5     10     10     5   equal       TNM
4     5         50        25           5     10     10     5   equal       TNM
5     6         50        25           5     10     10     5   equal       TNM
6     7         50        25           5     10     10     5   equal       TNM
7  9999         50      9999        9999   9999   9999  9999   equal       TNM